<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-leaf" class="icon"></md-icon>
        </span>
        <span class="logo-text">Invoice</span>
    </div>

    <!-- <div class="account">
        <div class="title">John Doe</div>
        <md-select class="account-selection simplified" placeholder="Mail Selection"
                   ng-model="vm.selectedAccount">
            <md-option ng-repeat="(provider, address) in vm.accounts" value="{{provider}}">{{address}}
            </md-option>
        </md-select>
    </div> -->

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

    <div class="compose-button">
        <md-button class="md-accent md-raised" aria-label="compose"
                   ng-click="vm.addInvoice()">CREATE NEW
        </md-button>
    </div>

    <div class="navigation-simple" layout="column">
        <md-button class="item" aria-label="inbox">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-inbox" class="s16"></md-icon>
                <span class="title">All Invoices</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="starred">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-star" class="s16"></md-icon>
                <span class="title" flex>Recurring</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="important">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-alert-circle" class="s16"></md-icon>
                <span class="title" flex>Favourite</span>
            </div>
        </md-button>

        <div class="item subheader">Filters</div>

        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Draft</span>
            </div>
        </md-button>
        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Sent</span>
            </div>
        </md-button>
        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Viewed</span>
            </div>
        </md-button>
        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Partial</span>
            </div>
        </md-button>
        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Paid</span>
            </div>
        </md-button>
        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Unrealized</span>
            </div>
        </md-button>
        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Ignored</span>
            </div>
        </md-button>
        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s16 blue-grey-fg"></md-icon>
                <span class="title">Archived</span>
            </div>
        </md-button>

        <md-divider></md-divider>

        <md-button class="item" aria-label="settings">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-cog" class="s16"></md-icon>
                <span class="title">Settings</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="help">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-help" class="s16"></md-icon>
                <span class="title">Help</span>
            </div>
        </md-button>
    </div>

</md-content>
<!-- / SIDENAV CONTENT -->